/* html rules
--------------------*/

/* id rules
--------------------*/
/*
#sheet{
    position:relative;
	display: block;
    margin-left: auto;
    margin-right: auto; 
}
*/

/*
section{
	min-width: 950px;
	margin: 0 auto;
}
*/

body{
	font-family: sans-serif;
	font-size: 1.4em;
	font-weight: bold;
}

#character_sheet{
    width: 950px;
    height: auto;
	display: block;
}




#strength{
    position:absolute;
    top: 400px;
    left: 275px;
	font-size: 1.8em;
}


#strengthMod{
    position:absolute;
    top: 400px;
    left: 355px;
	font-size: 1.8em;
}



#intelligence{
    position:absolute;
    top: 455px;
    left: 275px;
	font-size: 1.8em;
}

#intelligenceMod{
    position:absolute;
    top: 455px;
    left: 355px;
	font-size: 1.8em;
}


#wisdom{
    position:absolute;
    top: 510px;
    left: 275px;
	font-size: 1.8em;
}

#wisdomMod{
    position:absolute;
    top: 510px;
    left: 355px;
	font-size: 1.8em;
}


#dexterity{
    position:absolute;
    top: 565px;
    left: 275px;
	font-size: 1.8em;
}

#dexterityMod{
    position:absolute;
    top: 565px;
    left: 355px;
	font-size: 1.8em;
}


#constitution{
    position:absolute;
    top: 625px;
    left: 275px;
	font-size: 1.8em;
}

#constitutionMod{
    position:absolute;
    top: 625px;
    left: 355px;
	font-size: 1.8em;
}


#charisma{
    position:absolute;
    top: 680px;
    left: 275px;
	font-size: 1.8em;
}


#charismaMod{
    position:absolute;
    top: 680px;
    left: 355px;
	font-size: 1.8em;
}



#savePoisonDeath{
    position:absolute;
    top: 820px;
    left: 80px;
	font-size: 1.5em;
}


#saveWands{
    position:absolute;
    top: 865px;
    left: 80px;
	font-size: 1.5em;
}



#savePetrify{
    position:absolute;
    top: 908px;
    left: 80px;
	font-size: 1.5em;
}


#saveBreathAttack{
    position:absolute;
    top: 952px;
    left: 80px;
	font-size: 1.5em;
}


#saveSpell{
    position:absolute;
    top: 991px;
    left: 80px;
	font-size: 1.5em;
}


#class{
    position:absolute;
    top: 188px;
    left: 335px;
	font-size: 1em;
}


#exNextLevel{
    position:absolute;
    top: 1145px;
    left: 755px;
	font-size: 0.6em;
}



#baseAc2{
    position:absolute;
    top: 280px;
    left: 65px;
	font-size: 1.5em;
}

#hitPoints{
    position:absolute;
    top: 335px;
    left: 350px;
	font-size: 1.2em;
}


#melee{
    position:absolute;
    top: 270px;
    left: 520px;
	font-size: 1em;
}


#range{
    position:absolute;
    top: 298px;
    left: 520px;
	font-size: 1em;
}



#dieRollMethod{
    position: absolute;
    top: 1220px;
    left:  60px;
	font-size: 0.5em;
}
